doctype html
html(lang="ko")
    head
        include ./template/head
    body(ng-app="booth", ng-controller="boothCtrl")
        include ./template/login
        .row
            .col-md-8
            .col-md-4(style="text-align:right;")
                if (user)
                    button.btn.btn-link.fa.fa-user(ng-click="userInfo();") &#32;#{user.username}
                    button.btn.btn-link.fa.fa-sign-out(ng-click="signOut();") &#32;sign_out
                else
                    button.btn.btn-link.fa.fa-sign-in(ng-click="signInModal();") &#32;sign_in
                    button.btn.btn-link(ng-click="signUpModal();") &#32;sign_up
        table.table(style="border-bottom:1px solid #eceeef;")
            thead
                tr
                    th(style="width:100px;min-width:80px;")  post_id
                    th title
                    th(style="width:80px;") view_count
                    th(style="width:190px;") creation_time
            tbody
                each item in posts
                    tr
                        td #{item.postId}
                        td 
                            a(href="#") #{item.title}
                        td #{item.hitCount}
                        td #{item.creationTime}
        .row
            .col-md-3
                button.btn.btn-secondary(onclick="location.href='./list';") list
            .col-md-6(style="text-align:center;")
                nav
                    ul.pagination
                        li.page-item
                            a.page-link(href='#', aria-label='Previous')
                                span(aria-hidden='true') «
                        li.page-item
                            a.page-link(href='#') 1
                        li.page-item
                            a.page-link(href='#') 2
                        li.page-item
                            a.page-link(href='#') 3
                        li.page-item.active
                            a.page-link(href='#') 4
                        li.page-item
                            a.page-link(href='#') 5
                        li.page-item
                            a.page-link(href='#') 6
                        li.page-item
                            a.page-link(href='#') 7
                        li.page-item
                            a.page-link(href='#') 8
                        li.page-item
                            a.page-link(href='#') 9
                        li.page-item
                            a.page-link(href='#', aria-label='Next')
                                span(aria-hidden='true') »
            .col-md-3(style="text-align:right;")
                button.btn.btn-secondary.fa.fa-pencil &#32;write